html, body {
  height: 100%;
  margin: 0;
  background-color: #1a1a1a;
  color: rgb(250, 245, 245);
  font-family: Arial, sans-serif;
}

.container-fluid {
  height: 100%;
}

p {
  color: black;
}

.btn-link {
  color: white;
  text-decoration: none;
  padding: 0;
  font-size: 1.5rem;
}

.btn-link:hover {
  color: #00bcd4;
  text-decoration: none;
}

.login-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  width: 150%;
  max-width: 600px;
}

.login-card img {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.btn-google, .btn-apple, .btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: 60px;
}

.btn-google img, .btn-apple img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-google {
  background-color: #4285f4;
  color: #fff;
}

.btn-apple {
  background-color: #0c0c0c;
  color: #fff;
}

.btn-login {
  background-color: #007bff;
  color: #fff;
}

.form-control {
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  border: 1px solid #555;
  color: black;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ddd;
}

span {
  color: #0c0c0c;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.forgot-password-link {
  color: #00aaff;
  display: block;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #0c0c0c;
}

input {
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

#gr {
  color: #555;
}

a {
  color: #4285f4;
  text-align: end;
}

.carousel-inner img {
  max-height: 100vh;
  object-fit: cover;
}
