<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item class="new-folder">
        <button mat-button>
          <mat-icon>folder</mat-icon>
          <span>Mes Formulaires</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="new-folder">
        <button mat-button (click)="openNewFolderDialog()">
          <mat-icon>folder_open</mat-icon>
          <span>Créer un nouveau dossier</span>
        </button>
      </mat-list-item>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <mat-divider></mat-divider>
      <mat-list-item class="section-title">
        <div class="dropdown">
            <p class="badge bg-dark me-2 my-badge">Gratuit</p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>
          <mat-icon>archive</mat-icon>
          <span>Archive</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>
          <mat-icon>delete_outline</mat-icon>
          <span>Corbeille</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button>
          <mat-icon>send</mat-icon>
          <span>Mes soumissions</span>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button (click)="openUpgradeDialog()">
          <mat-icon>group</mat-icon>
          <span>Membres d'équipe</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
