<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex align-items-center" id="ba">
      <h6 class="h4 me-3">Mes formulaires</h6>
      <button class="btn btn-primary">CRÉER UN FORMULAIRE</button>
    </div>
    <div class="btn-group" role="group" id="bt">
      <button type="button" class="btn btn-light"><i class="bi bi-search"></i></button>
      <button type="button" class="btn btn-light"><i class="bi bi-filter"></i></button>
      <button type="button" class="btn btn-light"><i class="bi bi-sort-alpha-down"></i></button>
      <button type="button" class="btn btn-light"><i class="bi bi-list-check"></i></button>
      <button type="button" class="btn btn-light"><i class="bi bi-list"></i> Liste</button>
      <button type="button" class="btn btn-light"><i class="bi bi-grid"></i> Grille</button>
    </div>
  </div>
  <div class="center-content">
    <div class="text-center">
      <i class="bi bi-file-text text-primary large-icon"></i>
      <p class="h5 mt-3">VOUS N'AVEZ PAS ENCORE CRÉÉ DE FORMULAIRES.</p>
      <p class="text-muted">Vos formulaires apparaîtront ici.</p>
    </div>
  </div>
</div>
